/* 
=======
HELPERS
=======
*/

.flexed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redborder {
    border: 1px solid red;
}

.blueborder {
    border: 1px solid blue;
}

/* 
===============
REPEATED STYLES
===============
*/

.action-button-styles {
    border: none;
    color: #fff;
    background-color: #909FA6;
    transition: 0.3s ease-in-out;

}

.muted-button-styles {
    border: none;
    border-radius: 0px;
    border: 1px solid #222;
    color: #222;
    background-color: transparent;

}

/* 
===========
BASE STYLES
===========
*/
* {
    color: #222;
}



body,
html {
    background-color: #F1EFE9;
}

::-webkit-scrollbar {
    display: none;
}

/* 
==========
THE NAVBAR
==========
*/

.navbar__basket-button {
    border: 1px solid #8086A6 !important;
    border-radius: 0px;
    /* padding: 3px 50px; */
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    width: 200px;

}

.navbar__go-back-icon {
    height: 16px;
    transition: 0.3s ease-in-out;
}

/* 
=============
THE HOME PAGE
=============
*/

.home-page__product-container {
    background-color: #EBECF2;
}

.home-page__top-banner {
    background-color: #DFEDF2;

}

.home-page__top-info-banner {
    height: 30px;
    background-color: #909FA6;
}

.home-page__top-info-banner p {
    color: #FFF;
}

.home-page__product-card-col {

    width: 328px;
}

.home-page__product-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border-radius: 0px;
    /* border: 1px solid #8086A6; */
    border: none;
    padding: 8px;
}


/* 
==========
THE NAVBAR
==========
*/

.main-navbar {
    background-color: #F1EFE9;
    color: #222 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar-brand {
    color: #222 !important;

}

.nav-link {
    color: #222 !important;
    font-weight: 600;
}

.main-nav__man-nav-logo {}

/* 
=======================
THE SINGLE PRODUCT PAGE
=======================
*/

.single-product__quantity-box {
    width: 50px;
    border: none;
    background-color: transparent;
}

.single-product__add-to-basket-btn {
    width: 200px;
    padding: 10px;
}




/* 
==========
THE FOOTER
==========
*/

a {
    color: #6c757d;
}

a:hover {
    color: #fec503;
    text-decoration: none;
}

::selection {
    background: #fec503;
    text-shadow: none;
}

footer {
    padding: 2rem 0;
    background-color: #909FA6;
}

.footer-column:not(:first-child) {
    padding-top: 2rem;
}

@media (min-width: 768px) {
    .footer-column:not(:first-child) {
        padding-top: 0rem;
    }
}

.footer-column {
    text-align: center;
}

.footer-column .nav-item .nav-link {
    padding: 0.1rem 0;
}

.footer-column .nav-item span.nav-link {
    color: #6c757d;
}

.footer-column .nav-item span.footer-title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer-column .nav-item .fas {
    margin-right: 0.5rem;
}

.footer-column ul {
    display: inline-block;
}

@media (min-width: 768px) {
    .footer-column ul {
        text-align: left;
    }
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #fec503;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #1a1d20;
}

footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
}

.copyright {
    color: white;
}

.fa-ellipsis-h {
    color: white;
    padding: 2rem 0;
}


/* 
================
THE SUMMARY PAGE
================
*/

.summary__top-total-banner {
    border-left: 5px solid #222;
}

.summary__basket-card {
    border: none;
    background-color: transparent;
}

.summary__checkout-button,
.summary__save-for-later-button {
    padding: 10px 0px;
    text-decoration: none;
}
.summary__checkout-button {
    background-color: #9890A6;
}

.update-button,
.delete-button {
    padding: 7px 18px;
}

.delete-button {
    background-color: red;
}



/* 
==============
HOVERS & SUCH
==============
*/

.fade-hover:hover {
    opacity: 0.7;
}

.navbar__go-back-icon:hover {
    transform: translateX(5px);
}