{% extends "base.html" %}
{% load static %}
<!-- {% comment %} Look in to SEO {% endcomment %} -->
{% block title %}NueStore{% endblock %}



{% block content %}
<style>
    .home-page__top-banner {
        background: url(/media/home_page_images/bg.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>

{% include 'includes/main_nav.html' %}
<section class="text-center home-page__top-banner flexed">
    <div class="row home-page__top-banner-contents">
        <div class="col-md-12">
            <p class="home-page__top-banner-text">The best free stock photos, royalty free images & videos shared by
                creators.</p>
        </div>
        <div class="home-page__search-form flexed">
            <input type="search" id="form1" class="form-control home-page__search-input" />
            <button type="button" class="home-page__search-button">
                <i data-feather="search"></i>

            </button>
        </div>
    </div>
</section>




<div class="container home-page__categories-section">
    <div class="container">
        <!-- <div class="my-5" style="max-width: 1000px">
          <div class="col-12">
            <h1 class="h2">{{ category.name|title }}</h1>
          </div>
            <div><b>Popular</b> products purchased</div>
          <hr />
        </div> -->
        <div class="">
            <div class="row">
                <div class="album">
                    {% if not products %}
                    <div class="col-12">There are currently no products active <a
                            href="{% url 'main_store:store_home' %}">Home</a></div>
                    {% else %}
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                        <div class="col">
                            <div class="card border-0">

                                {% for c in categories %}
                                <div class="card-body px-0">
                                    <p class="home-page__category-tags flexed">
                                        <a class="text-decoration-none" href="{{ c.get_absolute_url }}">
                                            {{ c.name}}
                                        </a>

                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Gallery -->


<div class="row my-5 mx-2">
    <h5>LATEST EVENTS</h5>
    <hr>
    {% for product in products %}

    {% if not products %}
    <div class="col-12">There are currently no products available.</div>
    {% else %}

    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 my-3 container-fluid home-page__product-card">
        {% for image in product.product_image.all %}
        {% if image.is_feature %}
        <a href="{{ product.get_absolute_url }}">
            <img class="img-fluid w-100 shadow-1-strong mb-2" src="{{ image.image.url }}"
                alt="{{ image.image.alt_text }}">
        </a>
        {% endif %}
        {% endfor %}
        <div class="card-body home-page__card-body">
            <p class="card-text">
                <a class="text-dark text-decoration-none" href="">
                    {{ product.title }}
                </a>
            </p>

        </div>
    </div>

    {% endif %}
    {% endfor %}

</div>
<!-- Gallery -->
</main>

<script>
    feather.replace()
</script>
{% endblock %}