{% extends "payment/sub_base.html" %}
{% block title %}Order Placed{% endblock %}
{% block content %}
{% include "includes/main_nav_relative.html" %}
<div class="container orderplaced__container flexed">
  <div class="col-12 col-lg-6">
    <h3 class="mb-4">Order has been placed</h3>
    <p>Check your email for confirmation</p>
    <a href="{% url 'account:dashboard' %}">See orders</a>
    {% for product in products %}
    <a href="{{ product.link_to_image }}" target="_blank">DOWNLOAD</a>
    {% endfor %}
  </div>
</div>

{% endblock %}